:root {
    --width: 90px;
    --unWidth: -90px;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: grey;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    height: 10vh;
    font-size: 2em;
    background-color: red;
    color: white;
    padding: 10px;
}

.quotesection {
    background-color: white;
    width: 280px;
    height: fit-content;
    border: 2px black solid;
    border-radius: 10px;
    padding: 15px;
}

button {
    font-size: 1.5rem;
    margin-top: 10px;
    height: 75px;
    width: 250px;
    border-radius: 20px;
    filter: drop-shadow(30px 50px 30px 30px black);
    user-select: none;
}

button:active {
    background-color: rgb(200, 200, 200);
}

button:hover {
    cursor: pointer;
}

.switch {
    display: flex;
    margin-top: 10px;
    width: 160px;
    height: 50px;
    background-color: rgb(69, 73, 77);
    border: 2px black solid;
    border-radius: 3px;
    padding: 0 10px 0;
    align-items: center;
    justify-content: space-between;
    position: relative;

    & p {
        color: white;
        user-select: none;
    }

    & .slider {
        content: "";
        width: var(--width);
        height: 50px;
        background-color: darkgrey;
        background: url(../images/slider.svg);
        position: absolute;
        right: 0;
        transition: all ease 0.4s;
    }

}

.complex {
    transform: translate(var(--unWidth), 0);
}

/* Media Queries */

@media (height <=500px),
(width <=330px) {
    button {
        height: 50px;
        width: 180px;
        font-size: 1.25rem;
    }

    .quotesection {
        width: 200px;
    }

    .switch {
        width: 100px;
        height: 30px;
        background-color: rgb(69, 73, 77);

        & p {

            font-size: 0.65rem;
        }

        & .slider {
            content: "";
            width: 50px;
            height: 30px;
            background-size: cover;
            background-position: center;
        }

    }

    .complex {
        transform: translate(-70px, 0);
    }
}

@media (width >=700px) {
    h1 {
        width: clamp(500px, 3em, 700px);
        height: 10vh;
        font-size: 2em;

    }

    .quotesection {
        width: clamp(400px, 3em, 700px);
    }
}

@media (width >=900px) {
    h1 {
        width: clamp(800px, 6em, 900px);
        height: 10vh;
        font-size: 3em;

    }

    .quotesection {
        width: clamp(700px, 6em, 800px);
    }
}
