:root {
    --width: 90px;
    --unWidth: -90px;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: grey;
}

h1 {
    font-size: 70px;
    background-color: red;
    color: white;
    padding: 10px;
}

.quotesection {
    background-color: white;
    width: 40vw;
    border: 2px black solid;
    border-radius: 10px;
    padding: 15px;
}

button {
    font-size: 1.5rem;
    margin-top: 10px;
    height: 75px;
    width: 250px;
    border-radius: 20px;
    filter: drop-shadow(30px 50px 30px 30px black)
}

button:active {
    background-color: rgb(200,200,200);
}

button:hover {
    cursor: pointer;
}

.switch {
    display: flex;
    margin-top: 10px;
    width: 160px;
    height: 50px;
    background-color: rgb(69, 73, 77);
    border: 2px black solid;
    border-radius: 3px;
    padding: 0 10px 0;
    justify-content: space-between;
    position: relative;

    & p {
        color: white;
        user-select: none;
    }

    & .slider {
        content: "";
        width: var(--width);
        height: 50px;
        background-color: darkgrey;
        background: url(../images/slider.svg);
        position: absolute;
        right: 0;
        transition: all ease 0.4s;
    }

}

.complex {
    transform: translate(var(--unWidth), 0);
}
