body {
    margin: 0;
}

.pageSections {
    width: 100vw;
    height: 300px;

    & h2 {
        font-size: 100px;
        & p {
        
        }
    }
    & a {
        background-color: red;
    }
}

.pageSections > h2 {
    font-size: 100px;
}

.pageSections > a {
    background-color: red;
}
