* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.loading-text {
    font-size: 50px;
    opacity: 1;

}

.bg {
    width: 100vw;
    height: 100vh;
    background-image: url("bgPhoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    filter: blur(50px);
}
