body {
    height: 100vh;
    width: 100wh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

div {
    width: 50px;
    height: 50px;
    background-color: blue;
    transition: all ease 0.1s;
}
