.rectangle {
    height: 60px;
    width: 100px;
    margin: 5px;
    content: "";
    background: red;
    position: relative;
}

h3 {
    display: flex;
    position: absolute;
    align-self: center;
    justify-self: center;
}
