body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

/* .buttons {
    height: 100px;
    width: 200px;
    background-color: green;
} */

.btn {
    background-color: rgb(40, 37, 39);
    color: white;
    margin: 1rem;
    padding: 1.5rem 3rem;
    border-radius: 15px;
    filter: drop-shadow(30 50 5)
    &:active {
        background-color: rgb(15, 22, 24)
    }
}
