* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #333333;
    color: #222222;
    padding-bottom: 50px;
}

.container {
    max-width: 1200px;
    /* background: #fafafa;
    width: 100vw;
    min-height: 100vh;
    padding: 50px; */
}

.nav {
    position: fixed;
    background: #222;
    top: 0;
    left: 0;
    right: 0;

    & .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0px
    }

    & ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & a {
        color: #FFFFFF;
        text-decoration: none;
        padding: 7px 15px;

        &:hover {
            font-weight: bold;
            color: #c0392b;
        }
    }
}
