.container {
    width: 90vw;
    height: 90vh;
}

.panel {
    align-items: center;
    image-repeat: no-repeat;
}

.panel > h3 {
    color: white;
    -webkit-text-stroke: black 0.5px;
    font-size: 1.5rem;

}

.selected {
    width: 40vw;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}
