body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90vw;
    height: 90vh;
    background-color: grey;
    justify-content: space-around;
    align-items: center;
}

.panel {
    align-items: center;
    background-repeat: no-repeat;
    width: 10vw;
    height: 80%;
    transition: width ease 0.1s;
}

.unselected:hover {
    cursor: pointer;
    width: 12vw;
}

.panel > h3 {
    color: white;
    -webkit-text-stroke: black 0.5px;
    font-size: 1.5rem;

}

.selected {
    width: 40vw;
    transition: all 0.1s
}

.selected:hover {
    border: ;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}
