body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90vw;
    height: 90vh;
    background-color: #333;
}

.panel {
    align-items: center;
    background-repeat: no-repeat;
    width: 5vw;
    transition: width ease 0.1s;
}

.panel:hover {
    cursor: pointer;
    width: 6vw;
}

.panel > h3 {
    color: white;
    -webkit-text-stroke: black 0.5px;
    font-size: 1.5rem;

}

.selected {
    width: 40vw;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}
