body {
    width: 100vw;
    height: 100vh;
    margin: none;
    overflow: hide;
}

.sky {
    height: 60%;
    width: 100%;
    background: teal;
    display: flex;
    align-items: center;
    flex-direction: center;
}

.house {
    height: 60%;
    width: 50%;
    & .roof {
        
    }
}

.ground {
    height: 40%;
    width: 100%;
    background: green;
}

